<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test.css') }}"/>
    <title>ジャッジロビー</title>
</head>
<body>
<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">THE 3</a>
    <ul class="nav-menu">
      <ul class="nav-menu">
      <li><a href="/register_kadai">課題登録</a></li>
      <li><a href="/registered_player_list">選手一覧</a></li>
      <li><a href="/judge_lobby">ジャッジ管理</a></li>
      <li><a href="/process_lobby">進行状況</a></li>
      <li><a href="/ranking_lobby">リザルト</a></li>
      <li><a href="/">メインページ</a></li>
    </ul>
    </ul>
  </div>
</nav>
    <div class="container mt-4">
    <h2>THE 3 Judge System</h2>
    <h3>ジャッジ管理</h3>
    <table>
  <thead>
    <tr>
      <th>FUN & OPEN</th>
      <th>MIDDLE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/funopen/judge/A">funopen_A</a></td>
      <td><a href="/mid/judge/A">MID_A</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/B">funopen_B</a></td>
      <td><a href="/mid/judge/B">MID_B</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/C">funopen_C</a></td>
      <td><a href="/mid/judge/C">MID_C</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/D">funopen_D</a></td>
      <td><a href="/mid/judge/D">MID_D</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/E">funopen_E</a></td>
      <td><a href="/mid/judge/E">MID_E</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/F">funopen_F</a></td>
      <td><a href="/mid/judge/F">MID_F</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/G">funopen_G</a></td>
      <td><a href="/mid/judge/G">MID_G</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/H">funopen_H</a></td>
      <td><a href="/mid/judge/H">MID_H</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/I">funopen_I</a></td>
      <td><a href="/mid/judge/I">MID_I</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/J">funopen_J</a></td>
      <td><a href="/mid/judge/J">MID_J</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/K">funopen_K</a></td>
      <td><a href="/mid/judge/K">MID_K</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/L">funopen_L</a></td>
      <td><a href="/mid/judge/L">MID_L</a></td>
    </tr>
    <tr>
      <td><a href="/funopen/judge/BB">funopen_BB</a></td>
      <td><a href="/mid/judge/BB">MID_BB</a></td>
    </tr>
  </tbody>
</table>
</div>
</html>