<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test.css') }}">
    <title>ジャッジエリア  {{ area }}</title>
</head>
<body>

<div class="container mt-4">

  <button onclick="location.href='/funopen/judge/{{ area }}'">戻る / BACK</button>

    <h2 class="heading-red">ジャッジエリア : {{ area }}</h2>
    <h3>OPEN / Team {{ team_number }} : {{ team_name }}</h3>

    <button class="button-onehand" onclick="location.href='/open/judge/{{ area }}/team/{{ team_number }}/onehand'">片腕 / ONE HAND</button>
    <button class="button-onefoot" onclick="location.href='/open/judge/{{ area }}/team/{{ team_number }}/onefoot'">片足 / ONE FOOT</button>

    <form action="/open/judge/{{ area }}/team/{{ team_number }}" method="POST">
        <table border="1" class="open">
            <tr>
                <th>名前</th>
                {% for i in res %}
                    <th>No.{{ i }}</th>
                {% endfor %}
            </tr>
            {% for j in range(min, max) %}
            <tr>
                <td>{{ name[j-min] }}</td>
                {% for i in res %}
                    <td>
                      {% if (i,j) in checked_list %}
                        <input type="checkbox" name="check_{{ j }}_{{ i }}" value="1" checked>
                      {% elif (i,j) in locked_list %}
                        <input type="checkbox" name="check_{{ j }}_{{ i }}" value="1" checked disabled>
                      {% else %}
                        <input type="checkbox" name="check_{{ j }}_{{ i }}" value="1">
                      {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit">送信 / Submit</button>
    </form>
</div>

</body>
</html>