<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_test.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>ジャッジエリア  {{ area }}</title>
</head>
<body>


<div class="container mt-4">
    <h2 class="heading-red">ジャッジエリア : {{ area }}</h2>
    <h3>OPEN / Team {{ team_number }}: {{ team_name }}</h3>

    {%if handorfoot=="onehand"%}
      <h3> 片腕チャレンジ / One-Hand Challenge</h3>
    {% endif %}
    {%if handorfoot=="onefoot"%}
      <h3> 片足チャレンジ / One-Foot Challenge</h3>
    {% endif %}

    <button class="button-onehand" onclick="location.href='/open/judge/{{ area }}/team/{{ team_number }}'"> back / 戻る </button>

    <form action="/open/judge/{{ area }}/team/{{ team_number }}/{{handorfoot}}" method="POST">
        <table class="onehandorfoot" border="1">
            <tr>
              <th>番号</th>
                <th>名前</th>
                {% for i in res %}
                    <th>No.{{ i }}</th>
                {% endfor %}
            </tr>
            {% for j in range(min, max) %}
            <tr>
              <td>{{ loop.index }}</td>
                <td>{{ name[j-min] }}</td>
                {% for i in res %}
                    <td>
                      {% if (i,j) in checked_list %}
                        <input type="checkbox" name="check_{{ j }}_{{ i }}" value="1" checked>
                      {% else %}
                        <input type="checkbox" name="check_{{ j }}_{{ i }}" value="1">
                      {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit">送信 / Submit</button>
    </form>
</div>

</body>
</html>