<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>テストページ</title>
</head>
<body>
<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">THE 3</a>
    <ul class="nav-menu">
      <ul class="nav-menu">
      <li><a href="/register_kadai">課題登録</a></li>
      <li><a href="/registered_player_list">選手一覧</a></li>
      <li><a href="/judge_lobby">ジャッジ管理</a></li>
      <li><a href="/process_lobby">進行状況</a></li>
      <li><a href="/">メインページ</a></li>
    </ul>
    </ul>
  </div>
</nav>
    <div class="container mt-4">
    <h2>MIDDLE 進行状況</h2>
      <table>
        <thead>
            <tr>
            {% for key in data[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row.values() %}
                <td class="{% if value == 1 %}highlight-1{% endif %}{% if value == 2 %}highlight-2{% endif %}">{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>  
    </div>
</html>