<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_lobby.css') }}"/>
    <title>テストページ</title>
</head>
<body>
<img class="header" src="/static/images/the3_banner.jpg"/>
<h1> THE 3 競技ルール</h1>
<h2>予選</h2>
<br>
<h3>基本ルール</h3>
<li>セッション方式／制限時間3時間</li>　
<li>ジャッジシート(1チーム1枚)は必ず携帯してください。</li>　
<li><b>必ず3人一組で行動してください。</b><br>※ジャッジにジャッジシートを渡す際、3人いない場合はトライができません。</li>　
<li>同じエリア内であれば、<b>チームメンバー内で別の課題をトライすることができます。</b></li>　
<li>デマケーション(エリア区分のための黒いテープ)を超えてのスメアリングは可能です。</li>
<br>
<h3>ポイントについて</h3>
<li><u><b>☆3人全員が完登することでチームのポイントになります。</b></u></li>
<br>
<li>各カテゴリー30課題。課題ごとの獲得ポイントは以下の表の通りです。
</li>
<table>
    <thead>
        <tr>
        <th>課題No.</th>
        <th>ポイント</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> No.1 </td>
            <td> 15pt </td>
        </tr>
        <tr>
            <td> No.2~10 </td>
            <td> 10pt </td>
        </tr>
        <tr>
            <td> No.11 </td>
            <td> 25pt </td>
        </tr>
        <tr>
            <td> No.12~20 </td>
            <td> 20pt </td>
        </tr>
        <tr>
            <td> No.21~30 </td>
            <td> 30pt </td>
        </tr>
    </tbody>
</table>
<br>
<li>No.1,No.11はブラインドエリアにあります。<br>ブラインドエリアはコンペティションウォールの両端に2つあります。<br>チームで<b>左右どちらか、片方のブラインドエリアを選択して、トライしてください。</b></li>
<br>
<li>片腕 / 片足チャレンジに成功すると、課題ポイント+5ptを獲得できます。<br>片腕 / 片足チャレンジを行う際はトライ開始前に、ジャッジに宣言してください。<br><b>なお、途中で片腕 / 片足チャレンジを行う課題の変更はできませんのでご注意ください。</b></li>
<br>
<li>ダイバーシティチームは50ptが加算されます。</li>
<br>

<h3>順位</h3>
<li>合計ポイントによって順位が決まります。</li>
<br>
<li>合計ポイントが同じ場合、チームメンバーの総合完登数によって順位が決まります</li>
<br><br><br><br><br>
<font size="2">The 3 JudgeSheet Assistant @ Powered by T4 and kaiz</font>
</body>
</html>