<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_lobby.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE 1 RULES</title>
</head>
<body>
<div class="container">
<img class="header" src="/static/images/THE1_logo.png">
<h1> THE 1 競技ルール</h1>
<h2>DAY1 Aspirant</h2>
<h3>予選</h3>
<p>オンサイトベルトコンベア方式 4分×4課題</p>
<h3>決勝</h3>
<p>オンサイトベルトコンベア方式 4分×3課題</p>
<br>
<h2>DAY2 Finals</h2>
<h3>予選</h3>
<p>オンサイトベルトコンベア方式 4分×4課題</p>
<h3>決勝</h3>
<p>オンサイトベルトコンベア方式 4分×4課題 </p>
<br>
<br>
<br>
<font size="2">The 3 JudgeSheet Assistant @ T4 and kaiz</font>
</div>
</body>
</html>