<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_lobby.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE|1 – GIVE IT EVERYTHING – Vol.4 Supported by adidasTERREX-</title>
</head>
<body>
<img class="header" src="/static/images/the3_banner.jpg"/>
<h1> THE 3</h1>
<h2>  THE|1 – GIVE IT EVERYTHING – Vol.4 Supported by adidasTERREX </h2>
<h3>ABOUT "THE 1"</h3>
<button class="grey_button" onclick="location.href='https://pump-climbing.com/gym/bpump/%e3%80%90%e9%96%8b%e5%82%ac%e7%99%ba%e8%a1%a8%e3%80%91the1-give-it-everything-vol-4-supported-by-adidasterrex/'">大会概要 / Concept of the competetion</button>
<button class="grey_button" onclick="location.href='/rules'">大会ルール / Rules of the competetion</button>
<div></div>
<h2>リアルタイムリザルト</h2>
<h3> DAY 1 (11/1) THE|1 – aspirant –</h3>
<button class="green_button" onclick="location.href='/mid_ranking'"> -- 予選 -- </button>
<button class="green_button" onclick="location.href='https://docs.google.com/spreadsheets/d/1JEW1-Pgb8pCEoJrwAnmcqWq52ma8EEzwekH4xe7O4lQ/edit?usp=sharing'"> // 決勝 // </button>
<h3> DAY 2 (11/2) THE|1</h3>
  <button class="yellow_button" onclick="location.href='/fun_ranking'"> -- 予選 -</button>
  <button class="yellow_button" onclick="location.href='https://docs.google.com/spreadsheets/d/1D3HV3V15ffp1WLIBz2YqD6jPgazEkYru_UzfZvRSIvU/edit?usp=drive_link'"> // 決勝 // </button>
  
<font size="2">The 3 JudgeSheet Assistant @ T4 and kaiz</font>
</body>
</html>
